* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
}

h1 {
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

h2 {
  font-size: 2vw;
  color: white;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

h4 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}

h5 {
  color: white;
  font-weight: 300;
}

h6 {
  color: white;
}

p {
  color: white;
  font-size: 1vw;
}

a {
  color: white;
}

code {
  font-size: 15px;
}

.individ-title {
  padding-bottom: 1vw;
}

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background-color: #be69ff;
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
}

.cssbuttons-io span {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.btn {
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vw 1.7vw;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #292729;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  color: #54ffee;
  font-size: 1.5rem;
  transition: all 800ms ease;
}

.text p {
  font-size: 1.5rem;
  color: #54ffee;
}

.btn:hover {
  background: linear-gradient(0deg, #A47CF3, #683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  color: white;
  transform: scale(1.2);
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 6dvw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.422);
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
}
.logo img {
  width: 8dvw;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  transition: transform 0.3s ease;
  z-index: 1001;
  position: absolute;
  left: 90%;
}
.menu-icon .bar {
  width: 100%;
  height: 3px;
  background-color: #be69ff;
  transition: 0.3s;
}
.menu-icon .bar.toggle.bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-icon .bar.toggle.bar2 {
  opacity: 0;
}
.menu-icon .bar.toggle.bar3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-links li {
  margin: 0;
}
.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s ease, all 0.3s ease;
}
.nav-links li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 8px;
  background: #be69ff;
  transition: width 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
.nav-links li a.active-link::after {
  width: 100%;
}

.home-header {
  display: flex;
  flex-direction: column;
  padding: 10vw 8vw 0 8vw;
  gap: 2rem;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.home-header .home-header--det-cont {
  display: flex;
  width: 100%;
  padding: 1vw 0 2vw 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.164);
  justify-content: space-between;
  align-items: flex-end;
}
.home-header .home-header--det-cont .home-header-title--cont {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.home-header .home-header--det-cont .home-header-title--cont .header-btn {
  display: flex;
  gap: 5px;
  text-decoration: underline;
  background-color: #be69ff;
  padding: 0.5vw 1vw;
  border-radius: 2vw;
  width: -moz-fit-content;
  width: fit-content;
}
.home-header .home-header--det-cont .home-header-title--cont .header-text--link {
  border-bottom: 1px solid #be69ff;
}
.home-header .home-header--item--filter--cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1vw;
  /* From Uiverse.io by alexruix */
}
.home-header .home-header--item--filter--cont .input-group {
  display: flex;
  align-items: center;
}
.home-header .home-header--item--filter--cont .input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #be69ff;
  border-radius: 2vw 0 0 2vw;
  background-color: transparent;
  transition: all 450ms ease-in-out;
}
.home-header .home-header--item--filter--cont .button--submit {
  min-height: 50px;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0 2vw 2vw 0;
  background-color: #be69ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}
.home-header .home-header--item--filter--cont .button--submit:hover {
  box-shadow: 0px 0px 180px 0px #9917FF;
}
.home-header .home-header--item--filter--cont .input:focus,
.home-header .home-header--item--filter--cont .input:focus-visible {
  box-shadow: 0px 0px 180px 0px #9917FF;
  outline: none;
}
.home-header .item-filter--cont {
  display: flex;
  gap: 2vw;
  align-items: center;
  /* From Uiverse.io by vishnupprajapat */
}
.home-header .item-filter--cont .checkbox-wrapper-46 input[type=checkbox] {
  display: none;
  visibility: hidden;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  cursor: pointer;
  background: #54ffee;
  border-radius: 2vw;
  padding: 1vw 1.5vw;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 1vw;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #be69ff;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #be69ff;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #be69ff;
  border-color: #be69ff;
  animation: wave-46 0.4s ease;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.home-header .item-filter--cont .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}
.home-header p span {
  background: #651EB6;
  background: radial-gradient(circle farthest-corner at center center, #651EB6 10%, #798FFF 51%, #00F6D3 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
  .home-header {
    padding: 15vw 6vw 6vw;
    min-height: 50vh;
  }
}
.populated-items {
  display: flex;
  width: 100%;
  padding: 5vw 8vw;
}
.populated-items .populated-items--grid--cont {
  display: flex;
  flex-direction: column;
  background-color: #1C1A1C;
  width: 100%;
  padding: 1vw 2vw;
  align-items: center;
}
.populated-items .populated-items--grid--cont .rwd-table {
  margin: 1em 0;
  color: #fff;
  overflow: hidden;
  width: 100%;
  border-spacing: 0;
}
.populated-items .populated-items--grid--cont .rwd-table .table-main-titles {
  text-transform: uppercase;
}
.populated-items .populated-items--grid--cont .rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 1vw;
}
.populated-items .populated-items--grid--cont .rwd-table .clickable-row {
  cursor: pointer;
  padding: 0 1vw;
  transition: all 0.1s ease-in-out;
}
.populated-items .populated-items--grid--cont .rwd-table .clickable-row td {
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  font-size: 1.5vw;
}
.populated-items .populated-items--grid--cont .rwd-table .row-link {
  text-decoration: none;
  color: inherit;
}
.populated-items .populated-items--grid--cont .rwd-table th,
.populated-items .populated-items--grid--cont .rwd-table td {
  text-align: left;
  margin: 0.5em 0;
  vertical-align: middle;
  padding: 0.7vw 0;
}
.populated-items .populated-items--grid--cont .rwd-table th img,
.populated-items .populated-items--grid--cont .rwd-table td img {
  width: 2vw;
}
.populated-items .populated-items--grid--cont .rwd-table .toggle-btn {
  display: none;
}
.populated-items .populated-items--grid--cont .rwd-table .table-text {
  font-size: 1.3vw;
  letter-spacing: 1px;
  font-weight: 600;
  padding-bottom: 1.5vw;
}
.populated-items .populated-items--grid--cont .rwd-table .item-logo {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  margin-left: 1vw;
}
.populated-items .populated-items--grid--cont .rwd-table .item-capabilities {
  margin: 0;
  justify-content: flex-start;
}
.populated-items .populated-items--grid--cont .rwd-table .table-name-title {
  width: 22vw;
}
.populated-items .populated-items--grid--cont .rwd-table .table-type-title {
  width: 18vw;
}
.populated-items .populated-items--grid--cont .rwd-table .table-icons-title {
  width: 3vw;
}
.populated-items .populated-items--grid--cont .rwd-table .table-item--date p {
  color: rgba(255, 255, 255, 0.452);
  font-weight: 200;
}
.populated-items .populated-items--grid--cont .rwd-table .OS-icons .item-capabilities-icons {
  display: flex;
  gap: 1vw;
}
.populated-items .populated-items--grid--cont .rwd-table .OS-icons .item-capabilities-icons div svg {
  font-size: 1.5vw;
}
.populated-items .populated-items--grid--cont .clickable-row:hover {
  background-color: rgba(212, 212, 212, 0.2039215686);
  border: 5px solid #54ffee;
  border-radius: 1vw;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.hidden {
  display: none;
}

.free {
  font-size: 1.7rem;
  display: flex;
  color: rgb(54, 233, 0);
  justify-content: center;
}

.paid {
  font-size: 2rem;
  display: flex;
  color: rgb(255, 198, 76);
  justify-content: center;
}

.cost-icon {
  -moz-text-align-last: center;
       text-align-last: center;
}

.verification-icon,
h3 {
  font-size: 1.7vw;
}

.content-section {
  padding: 2vw 8vw;
}
.content-section .inner-header--container {
  background-color: #1C1A1C;
  padding: 2vw 2vw 0 2vw;
  width: 100%;
}

.item-header {
  display: flex;
  flex-direction: column;
  padding: 8vw 8vw 1vw 8vw;
  gap: 2rem;
}

.item-details--container {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #1C1A1C;
  gap: 1vw;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.item-details--container img {
  height: 4vh;
}
.item-details--container .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item-details--container .icons .verification-icon {
  color: #4cff7f;
}
.item-details--container .icons .verification-icon,
.item-details--container .icons h3 {
  font-size: 1.7vw;
}
.item-details--container a {
  width: 10%;
  color: white;
  background-color: #2c6cb5;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.item-details--container .item-titles {
  width: 15%;
}
.item-details--container .item-titles-det {
  width: 20%;
}

.supported-os--container,
.capabilities--container {
  display: flex;
  gap: 1.5vw;
  width: 100%;
  flex-wrap: wrap;
}
.supported-os--container .supported-os-icons,
.supported-os--container .capabilities-icons,
.capabilities--container .supported-os-icons,
.capabilities--container .capabilities-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vw 1.5vw;
  border-radius: 10vw;
  transition: all 0.2s ease-in-out;
  gap: 1vw;
  background-color: rgb(37, 37, 37);
  border: 2px solid rgba(255, 255, 255, 0.627);
}
.supported-os--container .supported-os-icons div,
.supported-os--container .supported-os-icons .icon,
.supported-os--container .capabilities-icons div,
.supported-os--container .capabilities-icons .icon,
.capabilities--container .supported-os-icons div,
.capabilities--container .supported-os-icons .icon,
.capabilities--container .capabilities-icons div,
.capabilities--container .capabilities-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background-color: white;
  border-radius: 5vw;
}
.supported-os--container .supported-os-icons div svg,
.supported-os--container .supported-os-icons .icon svg,
.supported-os--container .capabilities-icons div svg,
.supported-os--container .capabilities-icons .icon svg,
.capabilities--container .supported-os-icons div svg,
.capabilities--container .supported-os-icons .icon svg,
.capabilities--container .capabilities-icons div svg,
.capabilities--container .capabilities-icons .icon svg {
  font-size: 1.5vw;
}
.supported-os--container .supported-os-icons .icon,
.supported-os--container .capabilities-icons .icon,
.capabilities--container .supported-os-icons .icon,
.capabilities--container .capabilities-icons .icon {
  border-radius: 1vw;
}

.artifacts--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 1.5rem 2rem;
  align-items: stretch;
  justify-content: space-between;
  background-color: #1C1A1C;
  border-radius: 0 0 1vh 1vh;
  width: 100%;
  gap: 1rem;
}
.artifacts--container .row {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #2c2c2c;
  border-radius: 1vh;
  height: 100%;
}
.artifacts--container .row .artifact-content,
.artifacts--container .row div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artifacts--container .row .artifact-content code,
.artifacts--container .row div code {
  font-family: "Roboto Mono", Menlo, Courier, monospace;
  color: #DFE5EF;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}
.artifacts--container .row .artifact-content .ports,
.artifacts--container .row div .ports {
  flex-direction: row;
}

.code-snippet--container {
  max-inline-size: 100%;
  display: block;
  position: relative;
  background: #25262E;
  font-size: 0.8571rem;
  line-height: 1.1429rem;
  min-block-size: 56px;
}
.code-snippet--container code {
  padding: 1.5rem 2rem;
  font-family: "Roboto Mono", Menlo, Courier, monospace;
  font-size: inherit;
  color: #DFE5EF;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

.single-page--navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #111111;
  padding: 2vw 0;
  margin-top: 4vw;
  gap: 1.5vw;
}
footer .nav-links {
  gap: 2vw;
}
footer .nav-links li a {
  font-size: 1vw;
}
footer hr {
  opacity: 10%;
  width: 90%;
}

.contact-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 15vw 0 8vw 0;
}
.contact-cont .contact-details--cont {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 100%;
}
.contact-cont .contact-details--cont .contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.contact-cont .contact-details--cont .contact-details h3 {
  opacity: 70%;
}
.contact-cont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 1vw 0 0 0;
  background: rgba(139, 139, 139, 0.288);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5vw 4vw;
  gap: 4vw;
}
.contact-cont form .form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vw;
}
.contact-cont form .form-content .field-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.contact-cont form .form-content .field-column .form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-cont form .form-content .field-column input,
.contact-cont form .form-content .field-column textarea {
  background-color: transparent;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1vw;
  padding: 1vw 0.5vw;
  color: white;
}
.contact-cont form .form-content .field-column textarea {
  max-width: 100%;
  max-height: 10vw;
}
.contact-cont form .form-content .inline-form {
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
}

@media (min-width: 1720px) {
  h2 {
    font-size: 35px;
  }
  h6 {
    font-size: 15px;
  }
  .navbar {
    height: 5dvw;
  }
  .logo img {
    width: 6dvw;
  }
  .home-header p {
    font-size: 40px;
  }
  .text {
    font-size: 30px;
  }
  .sparkle {
    font-size: 30px;
  }
  .populated-items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .item-capabilities .item-capabilities-icons {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  p {
    font-size: 1.5vw;
  }
  .home-header,
  .item-header {
    padding-top: 18vw;
  }
  .menu-icon {
    display: flex;
  }
  .menu-icon .bar {
    background-color: white;
  }
  .sparkle {
    font-size: 2.5vw;
  }
  .text {
    font-size: 2.5vw;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #be69ff;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }
  .nav-links.active {
    display: flex;
    transform: translateY(0);
  }
  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }
  .nav-links li a {
    font-size: 30px;
    font-weight: 700;
  }
  .nav-links li a::after {
    background: white;
  }
  .supported-os--container .supported-os-icons div svg {
    font-size: 2.5vw;
  }
  .item-capabilities .item-capabilities-icons {
    font-size: 1.7vw;
  }
  .item-details--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3vw;
  }
  .item-details--container > :nth-child(1) {
    width: -moz-fit-content;
    width: fit-content;
    grid-area: 1/1/2/2;
  }
  .item-details--container > :nth-child(2) {
    width: -moz-fit-content;
    width: fit-content;
    grid-area: 1/2/2/3;
  }
  .item-details--container > :nth-child(3) {
    width: -moz-fit-content;
    width: fit-content;
    grid-area: 1/3/2/4;
  }
  .item-details--container > :nth-child(4) {
    width: -moz-fit-content;
    width: fit-content;
    grid-area: 1/4/2/5;
  }
  .item-details--container > :nth-child(5) {
    grid-area: 2/1/3/5;
    width: 100%;
  }
  .item-details--container > :nth-child(6) {
    grid-area: 3/1/4/3;
    width: 100%;
  }
  .item-details--container > :nth-child(7) {
    grid-area: 3/3/4/5;
    width: 100%;
    justify-content: flex-end;
  }
  .populated-items .populated-items--grid--cont .rwd-table th, .populated-items .populated-items--grid--cont .rwd-table td {
    padding: 1vw 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 7dvw;
  }
  h2 {
    font-size: 4dvw;
  }
  .navbar {
    height: 10dvw;
    padding: 1rem 3rem;
  }
  .navbar .logo img {
    width: 12dvw;
  }
  .content-section {
    padding: 5vw 8vw;
  }
  .btn svg {
    font-size: 20px;
  }
  .text {
    font-size: 20px;
  }
  .populated-items .item {
    min-height: 25dvw;
    height: -moz-fit-content;
    height: fit-content;
    gap: 3dvw;
  }
  .item-capabilities .item-capabilities-icons {
    font-size: 15px;
  }
  .content-section .capabilities--container .capabilities-icons p {
    font-size: 2vw;
  }
  .content-section .capabilities--container .capabilities-icons .icon {
    padding: 0.8vw;
  }
  .content-section .capabilities--container .capabilities-icons .icon svg {
    font-size: 3.5vw;
  }
  .populated-items .populated-items--grid--cont .rwd-table .OS-icons .item-capabilities-icons div svg {
    font-size: 2.5vw;
  }
  .item-details--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .item-details--container > :nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .item-details--container > :nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .item-details--container > :nth-child(3) {
    grid-area: 1/3/2/4;
  }
  .item-details--container > :nth-child(4) {
    grid-area: 1/4/2/5;
  }
  .item-details--container > :nth-child(5) {
    grid-area: 2/1/3/5;
  }
  .item-details--container > :nth-child(6) {
    grid-area: 3/1/4/2;
  }
  .item-details--container > :nth-child(7) {
    grid-area: 3/2/4/5;
  }
  .artifacts--container {
    display: flex;
    flex-direction: column;
  }
  .contact-cont {
    flex-direction: column;
  }
  .contact-cont .contact-details--cont {
    width: 100%;
  }
  .contact-cont form {
    width: 100%;
    padding: 6vw 11vw;
    gap: 8vw;
  }
  .contact-cont form .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5vw;
  }
  .contact-cont form .form-content .inline-form {
    gap: 5vw;
    flex-direction: column;
  }
  .contact-cont form .form-content .field-column .form-row {
    align-items: flex-start;
  }
  .contact-cont form .form-content .field-column .form-row input {
    width: 100%;
  }
  .contact-cont form .form-content .field-column {
    align-items: flex-start;
  }
  .contact-cont form .form-content .field-column textarea {
    width: 100%;
  }
  footer {
    padding: 4vw 0;
    gap: 3vw;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 2.5vw;
  }
  h4 {
    font-size: 3vw;
  }
  .navbar {
    height: 14dvw;
    padding: 1rem 2rem;
  }
  .navbar .logo img {
    width: 15dvw;
  }
  .home-header {
    padding: 20vw 8vw 4vw;
    min-height: 45vh;
    gap: 5dvw;
  }
  .home-header .home-header--det-cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 7vw;
  }
  .home-header .home-header--det-cont .home-header-title--cont {
    gap: 2vw;
  }
  .home-header h1 {
    font-size: 7vw;
  }
  .home-header p {
    font-size: 2.2vw;
  }
  .btn {
    padding: 2vw 4vw;
  }
  .supported-os--container .supported-os-icons div svg {
    font-size: 3vw;
  }
  .item-details--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .item-details--container > :nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .item-details--container > :nth-child(2) {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    grid-area: 1/3/2/5;
  }
  .item-details--container > :nth-child(3) {
    grid-area: 2/1/3/3;
  }
  .item-details--container > :nth-child(4) {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    grid-area: 2/3/3/5;
  }
  .item-details--container > :nth-child(5) {
    grid-area: 3/1/4/5;
  }
  .item-details--container > :nth-child(6) {
    grid-area: 4/1/5/3;
  }
  .item-details--container > :nth-child(7) {
    grid-area: 4/3/5/5;
  }
  .populated-items .populated-items--grid--cont {
    padding: 1vw 4vw;
  }
  .populated-items .populated-items--grid--cont .rwd-table th img, .populated-items .populated-items--grid--cont .rwd-table td img {
    width: 4vw;
  }
  .populated-items .populated-items--grid--cont .rwd-table th, .populated-items .populated-items--grid--cont .rwd-table td {
    padding: 3vw 0;
  }
  .table-name--title {
    width: 50%;
  }
  .table-type {
    font-size: 3vw;
  }
  .mobile-date {
    font-size: 3vw;
  }
  .mobile-os--icons svg {
    font-size: 4vw;
  }
  .mobile-hidden {
    display: none;
  }
  .populated-items .populated-items--grid--cont .rwd-table .toggle-btn {
    display: table-cell;
  }
  .populated-items .populated-items--grid--cont .rwd-table .toggle-btn button {
    float: right;
  }
}/*# sourceMappingURL=App.css.map */